@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

.container {
    display: flex; /* 添加 flex 布局 */
    justify-content: space-around; /* 卡片之间的间距 */
    flex-wrap: wrap; /* 如果卡片过多，自动换行 */
    gap: 10px; /* 调整卡片的左右间距 */
}
.card {
    position: relative;
    width: 270px;
    height: 360px;
    background: #BEBAB2;
    border-radius: 10px;
    overflow: hidden;
    perspective: 1000px; /* 添加透视效果 */
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background: #BEBAB2;
}

.card-back {
    background: #BEBAB2;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* 添加内边距 */
    box-sizing: border-box; /* 包括内边距和边框在内的宽度和高度 */
    position: relative; /* 为了定位 h6 标签 */
}

.circle {
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 400px;
    background: #ffffff;
    clip-path: circle();
}

.circle .imgBx{
    position: absolute;
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
    width: 270px;
    height: 250px;
    background: #ff0;
}

.circle .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    transform-origin: bottom;
}

.circle .imgBx:hover img{
    transform: scale(1.5);
}

.content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 140px;
    padding: 20px 30px;
}

.fa-linkedin{
    background: #0077b5;
    color:#fff;
    padding: 2px 4px;
    border-radius:2px ;
}

.content h3{
    font-size: 1.4em;
    color: #333;
    margin-top: 7px;
}

.textIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:10px ;
    padding: 0 2px;
}

.textIcon h4{
    color: #e91e63;
    font-weight: 400;
}

.icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-item {
    display: flex;
    flex-direction: row; /* 水平方向排列 */
    align-items: center;
    margin-bottom: 10px; /* 调整图标和文字之间的间距 */
}

.icon-item p {
    margin: 0;
    margin-left: 10px; /* 调整文字和图标之间的间距 */
}

.icon-text img {
    margin-right: 10px; /* 调整图片和文字之间的间距 */
}

.bottom-text {
    color: #e91e63;
    position: absolute;
    bottom: 10px; /* 距离底部的距离 */
    width: 100%;
    text-align: center;
}
